# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
zmags.npy
W4mags.npy
W3mags.npy
W2mags.npy
W1mags.npy
Vmags.npy
Teffs.npy
rmags.npy
rhos.npy
ras.npy
Rads.npy
pmras.npy
pmdecs.npy
Bmags.npy
decs.npy
Dists.npy
EBVs.npy
metals.npy
masses.npy
Lums.npy
loggs.npy
Kmags.npy
kepmags.npy
Jmags.npy
imags.npy
Hmags.npy
gmags.npy
epics.npy
umags.npy
epic_npys.tar
